* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

@mixin phone {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 600px) {
    @content;
  }
}
